version: "2.4"
services:
  #node
  node:
    image: node:12
    volumes:
      - .:/home/node
      - node_modules_node:/home/node/node_modules
    working_dir: /home/node

  install-node:
    extends:
      service: node
    command: yarn install

  build-node:
    extends:
      service: node
    command: yarn run build


  #db-migrate
  # has different package.json
  db-migrate:
    image: node:12
    volumes:
      - ./db-migrate:/home/node
      - node_modules_db-migrate:/home/node/node_modules
    working_dir: /home/node

  install-db-migrate:
    extends:
      service: db-migrate
    command: yarn install


volumes:
  node_modules_node:
  node_modules_db-migrate:
