.HomePage {
  text-align: center;
}

.HomePage-p {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

.HomePage-logo {
  height: 20vmin;
}

.HomePage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-link {
  color: #61dafb;
}
